<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pannel d'administration</title>
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <section>
            <div class="sliderBar">
                  <div class="slider-title">
                        <h1>GExpédition</h1>
                        <span><%= email %></span>
                  </div>
                  <hr>
                  <div class="sliderElement">
                        <ul>
                              <li><a href="/dashbord">Tableau de bord</a></li>
                              <li><a href="/client">Clients</a></li>
                              <li><a href="/commande">Commandes</a></li>
                              <li><a href="/expedition">Expéditions</a></li>
                              <li><a href="/transporteur">Transporteur</a></li>
                              <li><a href="#">Analyses</a></li>
                              <li><a href="/rapport">Rapports</a></li>
                              <li><a href="/utilisateur" class="active">Utilisateurs</a></li>
                        </ul>
                  </div>
            </div>
      </section>
      
      <section>
            <div class="main">
                  <header>
                        <div class="menu-element">
                              <div class="menu"></div>
                              <div class="menu1"></div>
                        </div>
                        <div class="btn-group">
                              <a href="/deconnexion">Déconnexion</a>
                        </div>
                  </header>
                  <div class="main-container">
                        <div class="main-table">
                              <form class="form" action="/utilisateur/editer/<%= row[0].id %>" method="POST">
                                    <h3>Modifier un utilisateur</h3>
                                    <label for="">Nom</label>
                                    <input type="text" name="" id="" value="<%= row[0].nom %>" placeholder="Nom" disabled>
                                    <label for="">Email</label>
                                    <input type="email" name="" id="" placeholder="Email" value="<%= row[0].email %>" disabled>
                                    <label for="">Rôle actuel</label>
                                    <input type="text" name="" id="" value="<%= row[0].role %>" disabled>
                                    <label for="">Rôle</label>
                                    <select name="role" id="">
                                          <option value="Administrateur">Administrateur</option>
                                          <option value="Utilisateur">Utilisateur</option>
                                          <option value="Aucun">Aucun</option>
                                    </select>
                                    
                                    <input type="submit" value="Modifier">
                              </form>
                        </div>
                  </div>
                
            </div>
      </section>

      <script src="/js/script.js"></script>
</body>
</html>